<h1>Edit A Picture</h1>



<%= form_tag(picture_url(@id), :method => "patch") do %>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source, @picture_url%>
  </div>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption, @caption%>
  </div>
  <div>
    <%= submit_tag "Edit Picture" %>
  </div>
<% end %>