<h1>Add A New Picture</h1>

<%= form_tag(pictures_url, :method => "post") do %>
  <div>
    <%= label_tag :source, "Image URL:" %>
    <%= text_field_tag :source %>
  </div>
  <div>
    <%= label_tag :caption, "Caption:" %>
    <%= text_field_tag :caption %>
  </div>
  <div>
    <%= submit_tag "Create Picture" %>
  </div>
<% end %>

