<h1>Picture Details</h1>

<%= image_tag(@picture_url, :width => 200) %>

<div><%= @caption %></div>

<div>
<%= link_to("Delete", picture_url(@picture.id), :method => "delete") %> |
<%= link_to("Edit", edit_picture_url(@picture.id)) %> |
<%= link_to("All Pictures", pictures_url) %>
</div>